@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Hogwarts";
  src: url("/fonts/HARRYP__.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.font-hogwarts {
  font-family: "Hogwarts", serif !important;
}
